﻿<%@ Page Title="Consilium Maintenance" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"  CodeBehind="Maintenance.aspx.cs" Inherits="Consilium.Maintenance" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <br />
    <h3>Consilium is down for maintenance.</h3>

</asp:Content>
